[Unit]
Description=NZBGet Daemon
Documentation=http://nzbget.net/Documentation
After=network.target

[Service]
Type=forking
User=__APP__
Group=multimedia
WorkingDirectory=__FINALPATH__/
ExecStart=/bin/sh -c "__FINALPATH__/nzbget -D >> /var/log/__APP__/__APP__.log 2>&1"
ExecStop=/bin/sh -c "__FINALPATH__/nzbget -Q >> /var/log/__APP__/__APP__.log 2>&1"
ExecReload=/bin/sh -c "__FINALPATH__/nzbget -O >> /var/log/__APP__/__APP__.log 2>&1"
PIDFile=__FINALPATH__/nzbget.lock
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
