[Unit]
Description=NZBGET Daemon
Documentation=http://nzbget.net/Documentation
After=network.target

[Service]
Type=forking
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/nzbget -D
ExecStop=__FINALPATH__/nzbget -Q
ExecReload=__FINALPATH__/nzbget -O
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
